:root {
  --backround: #00693e;
  --secondary: #ffd200;
  font-family: "Hind Siliguri", sans-serif;
}
body {
  margin: 0px;
  background-color: #282a35;
}
header {
  text-align: center;

  color: #00693e;
}
nav {
  text-align: right;
  padding-right: 10px;
  border-bottom: 2px solid #000000;
}
li {
  display: inline;
}
li a {
  text-decoration: none;
  color: var(--backround);
}
li a:hover {
  box-shadow: inset 100px 0 0 0 var(--secondary);
}
#logo {
  height: 0px;
  width: 0px;
  transform: scale(0.035);
  padding-left: 70px;
  padding-top: 0%;
  margin-top: 20px;
}
.intro {
  text-align: center;
}
footer {
  text-align: center;
  font-size: 75%;
  font-style: italic;
  background-color: #c1c1c1;
  border-top: 2px solid #000000;
  padding: 10px;
}
footer a {
  color: blue;
}
.wave {
  text-align: center;
}

#belowWave {
  width: auto;
  height: 100vh;
  background-color: var(--backround);
  margin-top: -10px;
}
